<div class="e_avatar col-12 col-md-4">
    <div class="card">
        <form class="form">
            <div class="card-header">
                <h4 class="card-title text-capitalize">
                    <%=lang.profile_image%>
                </h4>
            </div>
            <div class="card-body">
                <%-include("./avatar/form")%>
            </div>
        </form>
    </div>
</div>
