<div class="e_details col-12 col-md-8">
    <div class="card bg-transparent">
        <div class="card-header">
            <h4 class="card-title text-capitalize">
                <%=lang.details%>
            </h4>
        </div>
        <div class="card-body mt-3">
            <%-include("./details/reports")%>
        </div>
    </div>
</div>
