<div class="e_social_media col-12">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <%-include("./social_media/form")%>
        </div>
    </div>
</div>
