<div id="setting-contact" style="display: none">
    <h1>İletişim Ayarları</h1>
    <form name="contact">
        <div class="form-body">
            <table class="table w-100">
                <tr>
                    <td>E-Posta: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="mail" class="form-control" placeholder="E-Posta:" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-mailbox"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>E-Posta 2: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="mail2" class="form-control" placeholder="E-Posta:" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-mailbox"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>E-Posta 3: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="mail3" class="form-control" placeholder="E-Posta:" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-mailbox"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td> Telefon: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="tel" class="form-control" placeholder="Telefon" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-telephone"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Telefon 2: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="tel2" class="form-control" placeholder="Telefon 2" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-telephone"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Adres: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <textarea type="text" name="address" class="form-control" placeholder="Adres" required="" autocomplete="off"></textarea>
                                <div class="form-control-icon"><i class="bi bi-pencil"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Whatsapp: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="whatsapp" class="form-control" placeholder="Whatsapp" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-whatsapp"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <button class="btn float-end btn-success">Kaydet</button>
        </div>

    </form>
</div>
