<div id="setting-lang" style="display: none">
    <h1>Dil Ayarları</h1>

    <form name="lang">
        <div class="form-body">
            <table class="table w-100">
                <tr>
                    <td>Panel Dil Ayarı: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <select type="text" name="panel_lang" class="form-control" required="" autocomplete="off">
                                    <option value="tr">Türkçe</option>
                                    <!--option value="en">İngilizce</option-->
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn float-end btn-success">Kaydet</button>
        </div>

    </form>
</div>
