<div id="setting-social" style="display: none">
    <h1>İletişim Ayarları</h1>
    <form name="social">
        <div class="form-body">
            <table class="table w-100">
                <tr>
                    <td>Instagram: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="instagram" class="form-control" placeholder="Instagram Adresi yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Facebook: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="facebook" class="form-control" placeholder="Facebook adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Twitter: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="twitter" class="form-control" placeholder="Twitter adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Linkedin: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="linkedin" class="form-control" placeholder="Linkedin adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Github: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="github" class="form-control" placeholder="Github adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Pinterest: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="pinterest" class="form-control" placeholder="Pinterest adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Redit: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="redit" class="form-control" placeholder="Redit adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Youtube: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="youtube" class="form-control" placeholder="Youtube adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> Twitch: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="twitch" class="form-control" placeholder="Twitch adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> VK: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="vk" class="form-control" placeholder="VK adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Tiktok: </td>
                    <td colspan="2">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" name="tiktok" class="form-control" placeholder="Linkedin adresini yazınız" required="" autocomplete="off">
                                <div class="form-control-icon"><i class="bi bi-link"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>

            <button class="btn float-end btn-success">Kaydet</button>
        </div>

    </form>
</div>
