<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Hakkımızda </h3>
            <p>
                <b>WabbySoft</b> ailesi olarak hedeflerimizden, kişilikli duruşumuzdan ve üretimini yaptığımız her işteki ciddiyetimizden taviz vermeden üretimlerimizi sürdürüyoruz.
            </p>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 wow fadeInUp content order-lg-1 order-2">
                <p>
                    <b>WabbySoft</b> olarak sahip olduğumuz bilgi birikimi yaptığımız projelerimiz başarıya ulaşmıştır.
                </p>

                <p>
                    Ekibimiz işlerinde uzman ve tecrübelidir.
                    <br>
                    <b>WabbySoft</b> ekibinin yapacağı proje, firmanızı istediğiniz sonuca götürecek tüm unsurları içermektedir.
                    <br>
                    <b>WabbySoft</b> olarak firmanızın bilişim altyapısının düzenli ve sürekli çalışmasına katkıda bulunabiliriz.
                </p>

                <p>
                    Sektördeki isim ve güvenilirliğine yakışır kalitede işler yaparak, müşterilerin ihtiyaçlarını zamanında karşılamak ilk önceliğimizdir.
                    <br>
                    Amacımız müşterilerimizin ceplerine yangın olmak değildir, amacımız müşterilerimizin gönüllerine su olmaktır.
                </p>
            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp about_system_col">
                <img loading="lazy" src="./image/logo.png" class="img-fluid" alt="WabbySoft">
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
                <div style="overflow: hidden">
                    <img src="./assets/images/samples/about-customer1.gif" class="img-fluid" style="margin-top: -125px;" alt="WabbySoft">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h4>Misyonumuz</h4>
                <p>
                    <b>WabbySoft</b> ailesine şirketlerinin internet dünyasındaki vitrinlerini emanet edenlere en son yenilikler ışığında hızlı, kârlı, güvenli ve etkin çözümler sunabilmektir.
                </p>
                <p>
                    Ürün ve hizmet kalitemizi sürekli geliştirerek müşteri talep ve beklentilerini en üst seviyede karşılamak,
                    güçlü bir iletişim ile müşterilerimizle aramızda duygusal bir bağ yaratmak ve müşteri sadakatini sağlamak,
                    rekabet gücümüzü ve kârlılığımızı arttırmak adına kaliteli hizmet sunmaktır.
                </p>
            </div>
            <!--div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h4>Sizleri Rakiplerinizin ötesine taşıyoruz!</h4>
                <p>
                    Sizler için yaptığımız internet sitesini <b>SEO(Arama Motoru Optimizasyonu)</b> dostu yaparak firmanızı bir adım öne geçiriyoruz.
                </p>
                <p>
                    Tabi sadece <b>SEO</b> dostu site yeterli olmuyor :)
                </p>
                <p>
                    Site bitiminde işlerinde Uzman <b>SEO</b> ekibimiz tarafından sitenizin son dokunuşları yapılıyor. Böylece firmanızı en kısa sürede rakiplerinizin önüne geçirmiş oluyoruz.
                </p>
            </div-->
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                <img loading="lazy" src="./assets/images/samples/about-3.webp" class="img-fluid" alt="WabbySoft" style="margin-top: -80px;">
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h4>Vizyonumuz</h4>
                <p>
                    Konusunda uzman ve tecrübeli kadromuz ile bilgi teknolojileri alanında yenilikçi, dürüst, memnuniyete önem veren
                    ve çoğu kesim tarafından basite indirgenen hizmet alanlarımızın önemini kanıtlayan bir firma olmak.
                </p>
                <p>
                    Yazılım ve tasarım sektöründe mutlu ettiği müşterilerle önce Türkiye’nin,
                    daha sonra da Dünyanın yenilikçi,
                    mükemmelliği arayan, saygın ve lider firması olabilmektir.
                </p>
            </div>

        </div>

    </div>
</section>