<section id="clients">

    <div class="container">

        <div class="section-header">
            <h3>Referanslar</h3>
            <p>
                <b>WabbySoft</b> ailesi olarak sizinle birlikte büyüyoruz, sizinle birlikte güçleniyoruz!
                <br>
                Hedeflerimize sizinle birlikte ilerliyoruz, bizleri seçtiğiniz için <b>teşekkür ederiz</b>.
            </p>
        </div>

        <div class="row g-0 clients-wrap clearfix wow fadeInUp">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <a href="https://www.instagram.com/replayhair/" target="_blank">
                        <img loading="lazy" src="./image/replay-hair.png" class="img-fluid" alt="Replay Hair">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <a href="https://www.instagram.com/bignightorganizasyon/" target="_blank">
                        <img loading="lazy" src="./image/big-night.png" class="img-fluid" alt="Big Night Organizasyon">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <a href="https://www.instagram.com/nuclearlikit_/" target="_blank">
                        <img loading="lazy" src="./image/nuclear-liquid.png" class="img-fluid" alt="Nuclear Liquid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img loading="lazy" src="./image/kalmak-ofset.png" class="img-fluid" alt="Kalmak Ofset">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img loading="lazy" src="./image/turkiye-agac-platformu.png" class="img-fluid" alt="Türkiye Ağaç Platformu">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <a href="https://www.instagram.com/dreampath09/" target="_blank">
                        <img loading="lazy" src="./image/dreampath.png" class="img-fluid" alt="DreamPath">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img loading="lazy" src="./image/vosvos-reklam.png" class="img-fluid" alt="Vosvos Reklam">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img loading="lazy" src="./image/aupa-reklam.png" class="img-fluid" alt="Aupa Reklam">
                </div>
            </div>

        </div>

    </div>

</section>