<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h3>Ücretlendirme</h3>
            <p><b>WabbySoft</b> ailesi olarak fiyatlarımız aşşağıdaki gibidir.</p>
        </div>

        <div class="row">
            <?php for($i=0;$i<6;$i++) { ?>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow">
                        <div class="card-body title">
                            <h5 class="card-title text-center">Web Sitesi</h5>
                            <h5 class="card-title text-center">2.500₺ - 10.000₺</h5>
                            <!--p class="card-text"></p-->
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item shadow"><i class="fas fa-pencil-alt"></i> İşletmenize Uygun Tasarımlar</li>
                            <li class="list-group-item shadow"><i class="fas fa-search"></i> %100 Seo Uyumlu</li>
                            <li class="list-group-item shadow"><i class="fas fa-fast-forward"></i> Olduça Hızlı Ve Güvenlidir</li>
                            <li class="list-group-item shadow"><i class="fas fa-star"></i> Güncel Altyapı</li>
                            <li class="list-group-item shadow"><i class="fas fa-server"></i> Barındırma Sunucusu Dahildir. (6 Ay)</li>
                            <li class="list-group-item shadow"><button class="w-100 btn" id="pricing button">Teklif İste</button></li>
                        </ul>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>