<section id="services">
    <div class="container">

        <header class="section-header">
            <h3>Hizmetlerimiz</h3>
            <p>
                <b>WabbySoft</b> ailesi olarak hizmette sınır tanımıyoruz!
                Neredeyse tüm platformlara uygulamalar yazıyoruz.
            </p>
        </header>

        <% if(typeof main !== "undefined") { %> 
            <%-main.service%>
        <% } %>
    </div>
</section>