<section id="testimonials">
    <div class="container">

        <header class="section-header">
            <h3>Hakkımızda Söylenenler</h3>
            <p>Müşterilerimizin bizler için söyledikleri <b>WabbySoft</b> ailesi için çok önemlidir.</p>
        </header>

        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="owl-carousel testimonials-carousel wow fadeInUp">

                    <div class="testimonial-item">
                        <img loading="lazy" src="./image/soner-kalmak.jpg" class="testimonial-img" alt="">
                        <h3>Soner KALMAK</h3>
                        <h4>İş Sahibi | Replay Hair</h4>
                        <p>
                            Sizlere çok teşekkür ederiz. Çalışanlarınız örnek alınması gereken nitelikleri taşıyorlar. Yaptığınız işleri son derece hızlı ve kaliteli olduğu için sizi seçtiğimizden dolayı mutluyuz. Başarılarınızın devamını dileriz.
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img loading="lazy" src="./image/batuhan-kayikci.jpg" class="testimonial-img" alt="">
                        <h3>Batuhan KAYIKÇI</h3>
                        <h4>İş Sahibi | Nuclear Liquid</h4>
                        <p>
                            <b>WabbySoft</b> ailesinden ve hizmetlerinden çok memnunuz. Bize Hizmette sınır tanımadıklarını bir çok kez kanıtladılar. Gözümüzü arkada bırakmadığınız için <b>WabbySoft</b> ailesine teşekkür ederiz.
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img loading="lazy" src="./image/kerim-ekleme.jpg" class="testimonial-img" alt="">
                        <h3>Kerim EKLEME</h3>
                        <h4>İş Sahibi | Big Night</h4>
                        <p>
                            Benim bir firmaya 'İyi' diyebilmem için o firmanın hizmette iyi olduğu kadar hizmet esnasında gösterdiği kibarlığı ve nezaketide çok önemlidir. <b>WabbySoft</b> ailesine bu konuda teşekkür ediyorum çünkü onlar işlerinde 'Çok İyiler'.
                        </p>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>