<section id="why-us" class="wow fadeIn">
    <div class="why-us-bg"></div>
    <div class="particle" id="particle_why_us"></div>
    <div class="container">
        <header class="section-header">
            <h3>Neden Bizi Seçmelisiniz?</h3>
            <p>
                Bizi seçmek için pek çok sebebiniz var fakat bunların başlıcalarını aşağıda sizler için sıraladık.
            </p>
        </header>

        <div class="row row-eq-height justify-content-center">

            <div class="col-lg-4 mb-4">
                <div class="card wow bounceInUp">
                    <i class="bi bi-gem"></i>
                    <div class="card-body">
                        <h5 class="card-title text-light">Yeni Nesil Yazılım</h5>
                        <p class="card-text">Sizler için en güncel ve uzun vadeli teknojiler ile yanınızdayız.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card wow bounceInUp">
                    <i class="bi bi-cloud"></i>
                    <div class="card-body">
                        <h5 class="card-title text-light">Bulut Teknolojisi</h5>
                        <p class="card-text">Bulut tabanlı çalışıyoruz, nereden ulaşmak isterseniz oradan erişim sağlayarak işlerinizi daha çabuk ve hızlı bir hale getirebilirisiniz.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card wow bounceInUp">
                    <i class="bi bi-shield"></i>
                    <div class="card-body">
                        <h5 class="card-title text-light">Hızlı ve Güvenli</h5>
                        <p class="card-text">Yaptığımız uygulamalarda kendi alt yapımızı kullanırız. Bu sayede hem optimizasyonlu hemde güvenli hizmet sağlıyoruz.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row counters position-relative">
            <% if(typeof main !== "undefined") { %> 
                <%-main.counter%>
            <% } %>
        </div>

    </div>
</section>