<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <h6><%=lang.created_by%>  2021 &copy;</h6>
        </div>
        <div class="float-end">
            <h6>
                <a href="https://pantersoft.com/" target="_blank">
                    <img src="./assets/images/logo/panter-bg.png" alt="PanterSoft" width="30"> PanterSoft
                </a>
            </h6>
        </div>
    </div>
</footer>