<div id="preloader_page" class="preloader-page">
    <!--div class="spinner-border text-primary" role="status"></div*/-->
    <img src="./assets/images/samples/pre-loader-page.gif" width="350" alt="preloader">
</div>