<div class="e_gallery_add_new col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title text-capitalize"><%=lang.add_new%></h4>
        </div>
        <div class="card-body">
            <input name="file" type="file" class="e_gallery_file" required multiple data-max-file-size="1MB">
        </div>
    </div>
</div>