<div id="modal_gallery" class="modal fade text-left w-100" tabindex="-1" role="dialog" aria-labelledby="modal_gallery_label" aria-hidden="true" style="z-index: 1090">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_gallery_label"><%=lang.gallery%></h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <%-include("./main")%>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
