<table class="e_list table table-striped">
    <thead>
        <tr>
            <th class="col"><%=lang.date%></th>
            <th class="col"><%=lang.email%></th>
            <th class="col"><%=lang.ip%></th>
            <th class="col-2"><%=lang.status%></th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>