<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">
                    <%=lang.top_view_blogs%>
                    <a href="blog.html?function=add"><span class="badge bg-success badge bg-success float-end">+ <%=lang.create_new%></span></a>

                </h4>
            </div>
            <div class="card-body">
                <div class="e_blog table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>