<table class="e_list table table-striped">
    <thead class="text-capitalize">
        <tr>
            <th class="col"><%=lang.title%></th>
            <th class="col"><%=lang.order%></th>
            <th class="col"><%=lang.date%></th>
            <th class="col"><%=lang.status%></th>
            <th class="col"></th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>