<MODALS>
    <%-include("modal/edit")%>
</MODALS>
<section class="e_sliders section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-capitalize">
                    <h4>
                        <%=lang.slider%>
                        <a href="javascript:void(0);" function="add_new">
                            <span class="badge bg-success">+ <%=lang.add_new%></span>
                        </a>
                    </h4>
                </div>
                <div class="card-body">
                    <%-include("list")%>
                </div>
            </div>
        </div>
    </div>
</section>