<header id="header" class="fixed-top">
    <div class="container">
        <div class="logo float-start wabbysoft_logo">
            <a href="index.php" class="scrollto" function="full"><img style="filter: drop-shadow(1px 0.5px 0.5px #fff);" src="./image/logo.png" alt="WabbySoft" class="img-fluid"></a>
            <a href="index.php" class="scrollto" function="short" style="display: none;"><img style="filter: drop-shadow(1px 0.5px 0.5px #fff);" src="./image/logo-short2.png" alt="WabbySoft" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-end d-none d-lg-block">
            <ul>
                <li><a href="index.php#intro">Anasayfa</a></li>
                <li><a href="index.php#about">Hakkımızda</a></li>
                <li><a href="index.php#services">Servisler</a></li>
                <li class="drop-down"><a href="javascript:void(0);">Diğer</a>
                    <ul>
                        <li><a href="faq.php">FAQ & SSS</a></li>
                        <li class="drop-down"><a href="javascript:void(0);">Politikalar</a>
                            <ul>
                                <li><a href="cookie_policy.php">Çerez Politikası</a></li>
                                <li><a href="privacy_policy.php">Gizlilik Politikası</a></li>
                                <li><a href="terms_of_use.php">Kullanım Koşulları</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="index.php#contact">İletişim</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header>