<form class="form form-vertical">
    <div class="form-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label>Gmail</label>
                    <div class="position-relative">
                        <input type="url" name="gmail" class="form-control" placeholder="Gmail">
                        <div class="form-control-icon">
                            <i class="bi bi-google"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label>Facebook</label>
                    <div class="position-relative">
                        <input type="url" name="facebook" class="form-control" placeholder="Facebook">
                        <div class="form-control-icon">
                            <i class="bi bi-facebook"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label>Twitter</label>
                    <div class="position-relative">
                        <input type="url" name="twitter" class="form-control" placeholder="Twitter">
                        <div class="form-control-icon">
                            <i class="bi bi-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label>Instagram</label>
                    <div class="position-relative">
                        <input type="url" name="instagram" class="form-control" placeholder="Instagram">
                        <div class="form-control-icon">
                            <i class="bi bi-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label>Linkedin</label>
                    <div class="position-relative">
                        <input type="url" name="linkedin" class="form-control" placeholder="Linkedin">
                        <div class="form-control-icon">
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-1 mb-1"><%=lang.save%></button>
            </div>
        </div>
    </div>
</form>