<div class="form-body">
    <div class="image-div-main">
        <img src="../image/<%=session.admin.image%>" alt="<%=session.admin.name%> <%=session.admin.surname.toUpperCase()%>" class="w-100">
        <div class="image-div-hover">
            <a href="javascript:void(0);" function="edit"><i class="bi bi-pencil-square"></i></a>
        </div>
    </div>
 </div>